.prizes {
  .prizes-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 0 0;

    font-size: 3.5rem;
    font-weight: 700;
  }
  .cups {
    display: flex;
    justify-content: space-around;
    padding: 3rem 8rem;

    .prize-card {
      flex: 1;
      margin: 0 10px;
    }
  }
}
@media (max-width: 768px) {
  .prizes {
    .prizes-header {
      font-size: 2.5rem;
    }
    .cups {
      padding: 2rem;
      flex-wrap: wrap;
      justify-content: center;
      .prize-card {
        margin: 10px;
        height: 8rem;
        width: auto;
      }
    }
  }
}

@media (max-width: 480px) {
  .prizes {
    .prizes-header {
      font-size: 2rem;
    }
    .cups {
      padding: 1rem;
      flex-direction: column;
      .prize-card {
        margin: 5px;
      }
    }
  }
}
