.custom-button {
  padding: 8px 15px;
  margin: 10px;
  border: 1px solid transparent;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 1px 1px 0px #888888;

  &.button-secondary {
    background-color: #ebf4f6;
    color: #071952;
    &:hover {
      background-color: #d4e7f5;
      box-shadow: rgba(0, 0, 0, 0.1);
    }

    &:active {
      background-color: #c1dbee;
      box-shadow: rgba(0, 0, 0, 0.2);
    }
  }

  &.button-primary {
    background-color: #071952;
    color: #ffffff;

    &:hover {
      background-color: #162557;
      box-shadow: rgba(0, 0, 0, 0.1);
    }

    &:active {
      background-color: #0e183f;
      box-shadow: rgba(0, 0, 0, 0.2);
    }
  }

  &.button-alt {
    background-color: #ffffff;
    color: #071952;
    border: #000000;

    &:hover {
      background-color: #f0f0f0;
      box-shadow: rgba(0, 0, 0, 0.1);
    }

    &:active {
      background-color: #e0e0e0;
      box-shadow: rgba(0, 0, 0, 0.2);
    }
  }
}
