.hero-container {
  --icon-width: 4rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: calc(100vh - var(--navbar-height));
  background-color: var(--background-color);
  text-align: center;
  color: var(--color);
  padding: 0 5rem;
  gap: 6rem;
  position: relative;

  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.6;
  }

  .image-container {
    position: relative;
    width: 100%;
    z-index: 1;

    .logo {
      width: 6rem;
      filter: brightness(0) saturate(100%) invert(57%) sepia(75%)
        saturate(1654%) hue-rotate(165deg) brightness(98%) contrast(101%);
    }
    &:first-of-type {
      top: 2rem;
      // left: calc(var(--icon-width) / 2);
    }

    &:last-of-type {
      bottom: 2rem;
      // left: calc(var(--icon-width) / 2);
      transform: rotate(180deg);
    }
  }
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div span {
    font-size: 1.5rem;
    font-weight: 400;
    position: relative;
    z-index: 1;

    &.middle {
      font-family: 'AquireBold', 'Roboto';
      font-size: 6rem;
      color: var(--light-blue);
    }
  }

  .cursor {
    display: inline-block;
    width: 2px;
    background-color: inherit;
    color: var(--light-blue);
    margin-left: 2px;
    animation: blink 0.7s steps(1) infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}

@media (max-width: 768px) {
  .hero-container {
    padding: 0 2rem;
    gap: 4rem;

    .image-container {
      .logo {
        width: 4rem;
      }
    }

    div span.middle {
      font-size: 4rem;
    }
  }
}

@media (max-width: 480px) {
  .hero-container {
    padding: 0 1rem;
    gap: 3.2rem;

    .image-container {
      .logo {
        width: 3rem;
      }
    }

    div span.middle {
      font-size: 3rem;
    }
  }
}
