.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--body-background-color);
  color: var(--primary-header-topic-color);
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;

  .not-found-title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .not-found-message {
    font-size: 1.5rem;
  }
  a {
    color: var(--color);
  }
}
