* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'AquireBold';
  src: url('/public/assets/fonts/AquireBold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root {
  --blue-700: #063a95e6;
  --blue-500: #0d47a1;
  --blue-300: #5472d3;
  --light-blue: #34baef;

  --color: white;
  --background-color: black;

  --navbar-height: 4.8rem;

  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  overflow-x: hidden;
}
